{
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": "."
    },
    "mutators": {
        "@default": true,
        "InstanceOf_": {
            "ignore": [
                "Navarr\\Utils\\IterableToArray::convert"
            ]
        }
    },
    "logs": {
        "stryker": {
            "report": "/^.*$/"
        }
    }
}
